@import '../../../../../assets/config/colors';



:host{
    .list-container{
        height: 100%;
        display: flex;
        flex-direction: column;
            .item{
                height: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;

                &.selected-class{
                    background-color: $color-background-item;
                    border: 1px solid $color-gray;
                }
            }

            .list-body{
                overflow-y: scroll;
            }

            .list-body::-webkit-scrollbar{
                width:5px;
                background-color: $color-white;
                
            }
        }
}