@import '../../../assets/config/utils';




:host{
    @extend %page;

    .contacts-container{
        @extend %body;
        
        display: flex;


        list{
            width:30%;
        }

        contact-details{
            width:70%;
        }
    }
}