@import '../../../../../assets/config/grids';
@import '../../../../../assets/config/fonts';
@import '../../../../../assets/config/colors';


:host{
    border-left: 3px solid $color-milk-glass;
    padding-left: 24px;
    padding-top: 15px;
    .details-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: $details-text-font;

        .contact-details{
            @extend %header-grid;
            
            flex: 0 0 30%;
           
             .cell{
                word-break: break-all;
              }

              .item3{
                display: flex;
                align-items: flex-end;
                padding-right: 27px;
              }
       }

        .company-details{
            @extend %content-grid;
            
            flex: 0 0 70%;
            border-top: 2px solid $color-milk-glass;
            
            .cell{
                word-break: break-all;
            }
        }

        .item1{        
            .img{
                max-width: 80%;
                border-radius: 50px;
                border:1px solid $color-gray; 
                margin: 10px;
            }

           &.squ{
               .img{
                border-radius:0;
               }
           }
        }
      

        .header{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .title{
            font-size:$title; 
        }
    }

    .bold{
        font-weight: bold;
    }

    .f-layout{
        display: flex;
        flex-direction: column;
    }
}